.git
.omc
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
*.log
*.tmp
docs
layouts
aquacast.aquacast_composer*.kit
extensions/aquacast.aquacast_composer
extensions/aquacast.aquacast_composer_extensions/data/flattener_materials
extensions/aquacast.aquacast_composer_extensions/data/*.png
extensions/aquacast.aquacast_composer_extensions/data/*.ico
extensions/aquacast.aquacast_composer_extensions/data/*.usda
